body {
    background-image: url("https://rtlimages.apple.com/cmc/dieter/store/16_9/R236.png");
    background-color: rgba(252, 249, 249, 0.345);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
